@using Microsoft.AspNet.Identity
@using SmartLeopard.Web.Helpers
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @LanguageLinks()
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage"})
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @LanguageLinks()
        <li>@Html.ActionLink(@SmartLeopard.Web.Resources.ViewLabels.Register, "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
        <li>@Html.ActionLink(@SmartLeopard.Web.Resources.ViewLabels.Login, "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
    </ul>
}

  

@helper LanguageLinks()
{
    foreach (var cultureName in CultureHelper.GetAllowedCultures().Where(c => c != CultureHelper.GetCurrentCulture()))
    {
        <li>@Html.ActionLink(CultureHelper.GetNeutralCulture(cultureName), "Index", "Language", routeValues: new { cultureName }, htmlAttributes: null)</li>
    }
}